h1 {color: #366691; font-size: 26px; text-shadow: 4px 10px 4px #888;}

tr td {border-bottom: 1px dotted #ddd; padding: 10px;}

li {
    list-style-type: none;
    display: inline-block;
    margin: 4px 4px;
    font-family: Georgia;
    font-size: 12px;
    background-color: #c0dbf1;
    border: 2px solid cornsilk;
    padding: 2px;
}

.rslt { font: bold 14px/30px Georgia, serif; color: dodgerblue; }

.error li {
    background-color: orangered;
    color: white;
    border: 1px solid gold;
}

/*.invalid { border: 3px solid red; }*/

button {
    color: white;
    background: rgb(66, 184, 221);
    width: 110px;
    margin-left: 15px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/*.flex-container {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100vh;*/
/*}*/

#calculator {
    text-align: left;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#sitesDiv {
    width: 40%;
    display: inherit;
    float: left; padding: 0.5em;
}

#formDiv {
    width: 55%;
    float: left; padding: 0.5em;
    display: inherit;
}

footer {
    padding: 0.4em;
    color: white;
    background: linear-gradient(to left, #232526, #414345);
    clear: left;
    text-align: center;
}

.sum {font: bold 20px/30px "new century schoolbook", serif; color: Chocolate; margin: 0 30px 0 30px; }


/*.indent {margin-left:4em;}*/
/*.container {text-align: left; width: 800px; height: 500px; border: 1px solid black; float: right;}*/
/*.site { width: 250px; height: 800px; border: 1px solid black; float: left;}*/
/*.frame { width: 550px; height: 800px; border: 1px solid black; float:right;}*/
/*#toDrag {width: 300px; height: 50px; background: orange;}*/
/*table {border: 1px solid black; width: 85%; margin-left: 20px; margin-top: 10px;}*/