h1 {color: #366691; font-size: 26px; text-shadow: 4px 10px 4px #888;}

/*table {    padding-bottom: 10em;}*/
tr td {border-bottom: 1px dotted #ddd; padding: 10px;}

/*input [type=text] { line-height: 33px; }*/

ul li {
    list-style-type: none;
    display: inline-block;
    /*min-width: 220px;*/
    margin: 4px 4px;
    /*margin-left: 5px;*/
    /*margin-right: 4px;*/
    font-family: Georgia;
    font-size: 12px;
    background-color: #c0dbf1;
    border: 1px solid cornsilk;
    padding: 5px;
}

button {
    color: white;
    background: rgb(66, 184, 221);
    width: 110px;
    margin-left: 15px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

/*.flex-container {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100vh;*/
/*}*/

#calculator {
    text-align: left;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#sitesDiv {
    width: 40%;
    display: inherit;
    float: left; padding: 0.5em;
}

#formDiv {
    width: 55%;
    float: left; padding: 0.5em;
    display: inherit;
}


/*div.container {*/
/*width: 100%;*/
/*border: 1px solid gray;*/
/*}*/

footer {
    padding: 0.4em;
    color: white;
    background-color: #232323;
    clear: left;
    text-align: center;
}

/*nav {*/
/*float: left;*/
/*max-width: 160px;*/
/*margin: 0;*/
/*padding: 1em;*/
/*}*/

/*nav ul {*/
/*list-style-type: none;*/
/*padding: 0;*/
/*}*/

/*nav ul a {*/
/*text-decoration: none;*/
/*}*/

/*content {*/
/*margin-left: 170px;*/
/*border-left: 1px solid gray;*/
/*padding: 1em;*/
/*overflow: hidden;*/
/*}*/

/*.indent {margin-left:4em;}*/
/*.container {text-align: left; width: 800px; height: 500px; border: 1px solid black; float: right;}*/
/*.site { width: 250px; height: 800px; border: 1px solid black; float: left;}*/
/*.frame { width: 550px; height: 800px; border: 1px solid black; float:right;}*/
/*#toDrag {width: 300px; height: 50px; background: orange;}*/
/*table {border: 1px solid black; width: 85%; margin-left: 20px; margin-top: 10px;}*/